<html>
  <head>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="src/css/main.css">
  </head>
  <body ng-app="myApp" ng-controller="myCtrl as ctrl">
    <div class="main">
      <form name="recipient">

        <!-- 姓名 -->
        <div class="form-group">
          <div class="form-row">
            <label for="exampleInputEmail1">姓名</label>
            <input
              ng-model="ctrl.user.name"
              ng-class="{'is-invalid': ctrl.isSubmit === true && recipient.name.$invalid}"
              type="text"
              name="name"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="請輸入2個以上中文字"
              required
              two-chinese-char-or-more
            >
            <div
              ng-show="ctrl.isSubmit === true"
              ng-messages="recipient.name.$error"
            >
              <div ng-message="required">必填</div>
              <div ng-message="twoChineseCharOrMore">請輸入2個以上的中文字</div>
            </div>
          </div>
        </div>
        <!-- 姓名 -->

        <!-- 手機 -->
        <div class="form-group">
          <div class="form-row">
            <label for="exampleInputPassword1">電話</label>
            <input
              ng-model="ctrl.user.cellphone"
              ng-class="{'is-invalid': ctrl.isSubmit === true && recipient.cellphone.$invalid}"
              type="text"
              name="cellphone"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="手機號碼"
              required
              cellphone
            >
            <div
              ng-show="ctrl.isSubmit === true"
              ng-messages="recipient.cellphone.$error"
            >
              <div ng-message="required">必填</div>
              <div ng-message="cellphone">請輸入正確的手機號碼格式</div>
            </div>
          </div>
        </div>
        <!-- 手機 -->

        <!-- 收件地址 -->
        <div class="form-group">
          <div class="form-row">
            <label for="exampleInputPassword1">收件地址</label>
            <input
              ng-model="ctrl.user.recipientAddress"
              ng-class="{'is-invalid': ctrl.isSubmit === true && recipient.recipientAddress.$invalid}"
              type="address"
              name="recipientAddress"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="地址"
              required
            >
            <div
              ng-show="ctrl.isSubmit === true"
              ng-messages="recipient.recipientAddress.$error"
            >
              <div ng-message="required">必填</div>
            </div>
          </div>
        </div>
        <!-- 收件地址 -->

        <!-- 交期 -->
        <div class="form-group">
          <div class="form-row">
            <div class="col col-sm-2">
              <div class="form-check">
                <input
                  ng-model="ctrl.user.shippingType"
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio1"
                  value="1"
                >
                <label class="form-check-label" for="inlineRadio1">立即送貨</label>
              </div>
            </div>
            <div class="col col-sm-2">
              <div class="form-check">
                <input
                  ng-model="ctrl.user.shippingType"
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio2"
                  value="2"
                >
                <label class="form-check-label" for="inlineRadio2">指定到貨日</label>
                <input
                  ng-if="ctrl.user.shippingType === '2'"
                  ng-model="ctrl.user.shippingDate"
                  ng-class="{'is-invalid': ctrl.isSubmit === true && recipient.shippingDate.$invalid}"
                  type="text"
                  name="shippingDate"
                  class="form-control"
                  required
                  shipping-date
                >
                <div
                  ng-show="ctrl.isSubmit === true"
                  ng-messages="recipient.shippingDate.$error"
                >
                  <div ng-message="required">必填</div>
                  <div ng-message="shippingDate">日期格式錯誤</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 交期 -->

        <!-- 備註 -->
        <div class="form-group">
          <div class="form-row">
            <label for="exampleFormControlTextarea1">備註</label>
            <textarea
              ng-model="ctrl.user.memo"
              ng-class="{'is-invalid': ctrl.isSubmit === true && recipient.memo.$invalid}"
              class="form-control"
              name="memo"
              id="exampleFormControlTextarea1"
              rows="3"
              required
              ng-minlength="3"
              ng-maxlength="50"
            ></textarea>
            <div
              ng-show="ctrl.isSubmit === true"
              ng-messages="recipient.memo.$error"
            >
              <div ng-message="required">必填</div>
              <div ng-message="minlength">至少 3 個字</div>
              <div ng-message="maxlength">至多 50 個字</div>
            </div>
          </div>
        </div>
        <!-- 備註 -->

        <button
          ng-click="ctrl.submit()"
          type="button"
          class="btn btn-primary"
        >Submit</button>
        <button
          ng-click="ctrl.resetForm()"
          type="button"
          class="btn"
        >Cancel</button>
      </form>

      <!-- 顯示資料的表格 -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">姓名</th>
            <th scope="col">電話</th>
            <th scope="col">收件地址</th>
            <th scope="col">交期</th>
            <th scope="col">備註</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in ctrl.resultTable track by $index">
            <td>{{ item.name }}</td>
            <td>{{ item.cellphone }}</td>
            <td>{{ item.recipientAddress }}</td>
            <td ng-if="item.hasOwnProperty('shippingType') === false || item.shippingType === '1'"></td>
            <td ng-if="item.shippingType === '2'">
              <p>{{ ctrl.shippingTypeFormatName[item.shippingType] }}</p>
              <p>送貨日期: {{ item.shippingDate }}</p>
            </td>
            <td>{{ item.memo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- 顯示資料的表格 -->

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="built/local/output.js"></script>
  </body>
</html>
